{% extends 'store/base.html' %}

{% block content %}
<h1>Список товаров</h1>
<a href="{% url 'add_product' %}" class="btn btn-primary">Добавить товар</a>
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text"><strong>Цена: </strong>{{ product.price }} руб.</p>
                <a href="{% url 'edit_product' product.id %}" class="btn btn-warning">Изменить</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Нет доступных товаров.</p>
    {% endfor %}
</div>
{% endblock %}